.vscode/*
*/.vscode/*
Lab 6/lab6-exercise-1/human
Lab 6/lab6-exercise-1/machine
Lab 6/lab6-exercise-1/remote_disp
Lab 6/lab6-exercise-1/main_server
Lab 7/source/test_1
Lab 7/source/test_2
Lab 7/source/test_3
Lab 7/source/.vscode/c_cpp_properties.json
Lab 7/source/.vscode/launch.json
Lab 7/source/.vscode/tasks.json
Lab 8/source/NOT-zmq-mt-PUB/zmq-mt-pub-sub
Lab 8/source/NOT-zmq-mt-PUB/.vscode/settings.json
